.card-grid {
  padding-top: 1rem;
  background: #fff;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 25px;
}
.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
