.card-grid {
  padding-top: 1rem;
  background: #fff;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 25px;
}
.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-part {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-number {
  width: 3rem;
  margin-right: 1rem;
}
.product-details-button {
  margin-left: 0.8rem;
}
.page-grid {
  height: 105vh;
  background: #fff;
}
.cart-button {
  margin-right: 1rem;
}
.navbar {
  background-color: #fff8e7;
}
