.cart-price-div {
  height: 2rem;
  margin-top: 0.125rem;
}
.cart-price-first {
  width: 80%;
  height: 2rem;
  display: inline-block;
  text-align: left;
}
.cart-price-second {
  width: 20%;
  height: 2rem;
  display: inline-block;
  text-align: right;
}
.text {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
