.input-div {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.input-div-pattern {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-right: 0.75rem;
  display: inline-block;
}

.button-div-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.close-modal {
  display: flex;
  justify-content: flex-end;
}
.close-modal-div {
  height: 1rem;
}
.alert-div {
  height: 1rem;
}
.alert {
  width: 100%;
  height: 3rem;
  margin-top: 0.5rem;
}
